:javascript
  $(document).ready(function() {
    $('#bookmark_location').focus();
  });
= form_for Bookmark.new, url: feed_bookmarks_path(@feed) do |f|
  .control-group
    = f.label :location, "File URL", class: "control-label"
    .controls
      = f.text_field :location, placeholder: "http://example.com/podcast.mp3", class: "input-xxlarge location"
  .control-group#title_group
    = f.label :title, "File Title (optional)", class: "control-label"
    .controls
      = f.text_field :title, placeholder: "Example Podcast, Episode 23 — May 18, 2012", class: "input-xxlarge"
  .control-group
    .controls
      %button.btn.btn-danger{type: "submit"}
        %i.icon-arrow-down.icon-white
        Add to feed
      %button.btn{onclick: "$('#title_group').show();$('#title_group').find('input').focus();$(this).hide();return false"}
        %i.icon-plus
        Add title

- if @bookmarks.any?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Added
        %th Title
        %th URL
        %th
    %tbody
      - @bookmarks.each do |bookmark|
        %tr
          %td= l bookmark.created_at, format: :short
          %td= bookmark.title
          %td= link_to bookmark.location, bookmark.location
          %td= button_to "remove", feed_bookmark_path(@feed, bookmark), method: :delete, class: "btn btn-danger btn-mini"
